---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Featured from '../components/Featured.astro';
import Category from '../components/Category.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Navbar />
<Hero />
<main>
    <h1>Clothing</h1>
    <Category title="Cholo Clothing" description="Explore our collection of stylish cholo clothing." />
    <Featured />
</main>
<Contact />
<Footer />