---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Featured from '../components/Featured.astro';
import Category from '../components/Category.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Navbar />
<Hero />

<main>
    <h1>Graffiti</h1>
    <p>Explore our collection of graffiti-inspired products.</p>
    <Category title="Graffiti Art" />
    <Category title="Graffiti Apparel" />
    <Category title="Graffiti Accessories" />
</main>

<Featured />
<Contact />
<Footer />